:root {
    --arsenic: #3A4042;
    --alura: #051932;
    --pomb-and-power: #7C5E99;
    --floral-white: #FFFCEE;
    --old-silver: #828282;
    --eggshell: #EAE6DA;
    --fiery-rose:  #F25A70;
    --cardinal: #BA1F33;
    --sandstorm: #F5D547;
    --mantis: #62C370;
}